 
   
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../../assets/il_fullxfull.2083251652_d8qj.jpg" alt="Delhi Metro" style="width:100%;">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">quote</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/jamie-street-aMuq-Xz7R_M-unsplash.jpg" alt="Bangalore Metro" style="width:100%;">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">Men</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets//jonathan-weiss-arxAZJT5k2A-unsplash.jpg" alt="Channai Metro" style="width:100%;">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">women</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/engin-akyurt-Ix4D4-8cQUU-unsplash.jpg" alt="Jaipur Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">women</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/flaunter-nGKKhltw0ik-unsplash.jpg" alt="Jaipur Metro">  
                <div class="carousel-caption">  
                    <h3 style="color: yellow">women</h3>  
                </div>  
            </ng-template>  
            
        </ngb-carousel>  
    </div>  

