 
   
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="../../assets/il_fullxfull.2083251652_d8qj.jpg" alt="1st image" style="width:100%;" class="w-100 p-0">  
                <div class="carousel-caption">  
                    
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/jamie-street-aMuq-Xz7R_M-unsplash.jpg" alt="2nd image" style="width:100%;"class="w-100 p-0">  
                <div class="carousel-caption">  
                    <h3 style="color: aqua; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; "  >Blow out before you go out!!!</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets//jonathan-weiss-arxAZJT5k2A-unsplash.jpg" alt="3rd image" class="w-100 p-0">  
                <div class="carousel-caption">  
                    <h3 style="color: darkblue">I play with scissors for the shear fun of it..</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/engin-akyurt-Ix4D4-8cQUU-unsplash.jpg" alt="4th image" class="w-100 p-0">  
                <div class="carousel-caption">  
                    <!-- <h3 style="color: yellow">women</h3>   -->
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="../../assets/flaunter-nGKKhltw0ik-unsplash.jpg" alt="Jaipur Metro"  class="w-100 p-0">  
                <div class="carousel-caption">  
                    <!-- <h3 style="color: yellow">women</h3>   -->
                </div>  
            </ng-template>  
            
        </ngb-carousel>  
    </div>  

