<br><br><br><br>
<img src="../../assets/Screenshot (4).png" alt="About Us" class="w-100 p-0">
<br><br><br>
<br>
<div class="card-columns">
    <div class="card border-dark">
      <img class="card-img-top" src="../../assets/download.webp" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">
             I had been searching a long tym to find a quality massage therapy. I feel very relaxed after so long.
            Customer support is also first class. Thank You! :)
            </p>
      </div>
    </div>
    <div class="card p-2 border-danger">
      <blockquote class="blockquote mb-0 card-body">
        <p>Looks Salon offers first class personal service so refreshing to have such excellent and friendly experience.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Riya Kapoor<cite title="Source Title"></cite>
          </small>
        </footer>
      </blockquote>
    </div>
    
    <div class="card border-primary">
      <img class="card-img-top" src="../../assets/haircut-salon-tease-today-160607_6edb3b20c56f717a53bf9d3af5813fa0.social_share_1024x768_scale.jpg" 
      alt="Card image cap" style="height:10; width: 20;">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;">
        I love this salon so much. Thanks for the warm welcome, the free drink and the great cut. I will be back soon.
        </p>  
    </div>
    </div>
    <div class="card bg-light text-center p-3 border-light" >
        <img src = "../../assets/CLIENT-REVIEWS-2.jpg" height="110" width="380" >
    </div>
    <div class="card border-primary">
        <img class="card-img-top" src="../../assets/c700x420.jpg" 
        alt="Card image cap" style="height:10; width: 20;">
        <div class="card-body">
          <p class="card-text" style="font-weight: bold;">
          The service was amazing. They sterlised their used equipments.I can surely say this is the best nail place I have been so far!!...
          </p>  
      </div>
      </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/5ba10f5480b9782db40fe4ed3dc640e9--bengali-bride-pakistani-bridal.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             
                <blockquote class="blockquote">  I got my engagement makeup from looks salon. I had a great experience with them. I'll approach them again for my further events.
                  Uhh people are so much good in services. Thank uh so much 
   for making my day more beautiful.</blockquote>
            </div>
          </div>
        </div>
      </div>
    <div class="card p-3 text-right border-dark">
      <blockquote class="blockquote mb-0">
        <p>Brandy did such a amazing job. My hair hasn't felt this healthy in so long and the color is absolutely perfect.</p>
      
      </blockquote>
    </div>
        
   <!-- class="w-50 p-2" -->
    <div class="card  border-danger ">
      <div class="card-body">
        <h5 class="card-title">HAIR</h5>
        <p class="card-text" style="font-weight: bold;">Best place to do dreads or any other style. Look for V, She will take a good care of uhhh, very friendly nd professional</p>
        <footer class="blockquote-footer">
            <small class="text-muted">
              Kanika Khan<cite title="Source Title"></cite>
            </small>
          </footer>
          </div>
    </div>
  </div>
  <br><br>
  <div >
  <img src="../../assets/Screenshot.png" alt="..." class="w-100 p-0">
  </div>
  <br><br>