<br><br>
<div>
<img src="../../assets/mens-salon-services_1170827.jpg" alt="..." class="w-75 p-0">
<div class="centered" style="font-family: Papyrus; font-weight: bold;"><h1 class="display-1">Gents <br>Services</h1></div>
</div> 

<br>
<img src="../../assets/Screenshot (26).png" alt="..." class="w-100">
<img src="../../assets/men.png" alt="men" class="w-100" >
<img src="../../assets/ser.png" alt="services" class="w-100">
<div class=" text-center">
    <a [routerLink]="['/appointment']" class="btn  btn-lg  " style="background-color: black; font-weight: bold; color: white;"> Book Appointment</a>
</div>
<img src="../../assets/Screenshot (5).png" alt="..." class="rounded mx-auto d-block">

<!-- <img src="../../assets/1df6a24f1db1fa48e2a52c940004fa3f.jpg" > -->
<br><br><br>
