<!-- 
 <div class='container-fluid'>  
  <div class="row" style="padding: 20px;">  
      <div class="col-sm-12 btn btn-whitetext-white">  
        <p><img alt="looks salon footer logo" src="https://www.lookssalon.in/public/images/Footer_Logo.svg"></p>
  <p>The Exclusive Unisex Salon in your town acquainted with world-class tools and professionals for stunning looks and absolute luxury. </p>
  <p class="fshare-link"><a href="https://www.facebook.com/Looksunisexsalon/" class="fb" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
  <a href="https://twitter.com/LooksSalonIndia" class="tw" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/looksunisexsalon/"  class="instagram" target="_blank"><i class="fa fa-instagram lg" aria-hidden="true"></i></a></p>
  <ul class="fLink container">
        <li><a href="https://www.lookssalon.in/">Home</a></li>
          <li><a href="https://www.lookssalon.in/ladies-salon-services.html">Services </a></li>
           <li><a href="https://www.lookssalon.in/hair-styles-fashion-collection.html">About Us</a></li>
          <li><a href="https://www.lookssalon.in/franchise.html">Appointment</a></li>
          <li><a href="http://www.looksschool.com/" target="_blank">Staff</a></li>
          <li><a href="https://www.lookssalon.in/salon-beauty-products-eshop.html">Store</a></li>
          <li><a href="https://www.lookssalon.in/contact.html">About Ust</a></li>
          <li><a href="https://www.lookssalon.in/salon-book-appointment.html">Contact us</a></li>
         
    </ul>
       -->

      <!-- footer -->
     <footer  style="background-color: #968700">
      <br>
      <p><img alt="looks salon footer logo" src="https://www.lookssalon.in/public/images/Footer_Logo.svg" class="rounded mx-auto d-block"></p><br>
      <div class="container">
          <div class="row ">
            <p class="text-center">The Exclusive Unisex Salon in your town acquainted with world-class tools and professionals for stunning looks and absolute luxury.</p>

            <div class="center">
              <i class="fa fa-facebook-official" style="font-size:36px;"></i>
              <i class="fa fa-twitter-square" style="font-size:36px"></i>
            <i class="fa fa-linkedin-square" style="font-size:36px"></i>
            <i class="fa fa-instagram" style="font-size:36px"></i>
      </div>
      </div>
      </div>


   </footer>
   <br>
  
   <div class="animatedParent container-fluid whiteBg">
    <footer class="container ">
              <ul class="animated bounceInDown">
              <p>&copy; 2020, Looks Salon. All rights reserved.  </p>
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <p><a href="#">  &nbsp; &nbsp; &nbsp; Privacy Policy | </a></p>
            
             <p><a href="#">Disclaimer | </a></p>
             
              <p><a href="#">Site Map</a></p>
               
                
            </ul>
        
   <!-- end of footer -->