<div>
<img src="../../assets/lady.png" alt="services"  class="w-100 p-0">
<div class="centered" style="font-family: Papyrus; font-weight: bold;"><h1 class="display-2">Ladies <br>Services</h1></div>
</div> 
<img src="../../assets/ladiesserves.png" alt="..." class="w-100">
<img src="../../assets/qarsgtsgtshue.png" alt="..." class="w-100">
<img src="../../assets/ased.png" alt="..." class="w-100">

<!-- <div class="card text-center mx-auto" style="background-color: black; color: white; max-width: 52rem;">
    <div class="card-body">
        <h2 class="text-center display-2" style="font-family: Curlz MT; font-weight: bold;">Make an appointment</h2>
        <br><br>
      <a [routerLink]="['/appointment']" class="btn " style="background-color: #968700; font-weight: bold;"> Book Appointment</a>
    </div>
    </div> -->
    <div class=" text-center">
        <a [routerLink]="['/appointment']" class="btn  btn-lg  " style="background-color: black; font-weight: bold; color: white;"> Book Appointment</a>
</div>
    <img src="../../assets/Screenshot (5).png" alt="..." class="rounded mx-auto d-block">
   
    <!-- <div class="appoint text-center"> -->
    <!-- <div class="card text-center mx-auto" style="background-color: black; color: white; max-width: 35rem;">
        <div class="card-body">
            <h2 class="text-center display-2" style="font-family: Curlz MT; font-weight: bold;">Make an appointment</h2>
            <br><br> -->
          <!-- <a [routerLink]="['/appointment']" class="btn  btn-lg  " style="background-color: black; font-weight: bold; color: white;"> Book Appointment</a> -->
        <!-- </div>
        </div> -->
    <!-- </div> -->
    <br><br><br>