
.centered {
    /* position: absolute;
    top: 50%;
    left: 10%; */
    /* transform: translate(-50%, -50%); */
    color: black;
    text-align: center;
  }
  agm-map {
    height: 500px;
    /* The height is 400 pixels */
  }
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button{
    background-color: #968700;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  #qw{
    transition: width 2s;
  }
  #qw:hover {
    width: 400px;
    
  }
  