
<div class="src">
    <video autoplay muted loop width="100%" height="800px">
   
      <source src="../assets/Looks Salon – Top Unisex Hair Salon Chain in India - Hairdressers_Trim.mp4" type="video/mp4">
  
    </video >
  <app-carousel></app-carousel>
  <br>
  <div class='container-fluid'>  
    <div class="row" style="padding: 25px;">  
        <div class="col-sm-12 btn btn-light">  
        <h2> OUR SERVICES </h2>
        </div>  
        <img src="../../assets/Screenshot (2).png" alt="salon" style="width:100%;">  
  
    </div>  
